@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base{
  body{
    @apply bg-white 
  }
  .dark{
    @apply bg-[#0f172a] text-[#ddd] 
  }
  .light{
    @apply bg-white text-[#000]
  }
}

/* .dark {
    --bg: #0f172a;
    --textColor: #ddd;
    --softBg: #1f273a;
    --softTextColor: #a6a6a6;
  }
  
  .light {
    --bg: white;
    --textColor: black;
    --softBg: #f0f0f0;
    --softTextColor: #626262;
  } */